/* LE VAN DUC  */
#software{
    width: 1200px;
    margin: auto;
    position: relative;
    top: 330px;
}
.software-list{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-gap: 30px ;
}

.software-item{
    max-height: 800px;
    background-color: rgb(240, 233, 223);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border: solid 3px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
    transition: all 0.25s;
    overflow: hidden;
}

.software-item:hover{
    border-color: rgba(0, 0, 0, 0.8);
    transform: translateY(100px);
}

.software-item img{
    object-fit:scale-down;
    height: 62%;
    width: 92%;
    border-radius: 10px;
    margin: 0 0 0 4%;
}

.software-info{
    margin: 4% 0 0 4%;
    width: 92%;
}
.software-info__heading{
    font-size: 22px;
    font-weight: 550;
    color: #191919;
    display: flex;
    justify-content: center;
    user-select: none;
}
.software-info__heading i{
    font-size: 24px;
    color:#5f5d5d;
    cursor: pointer;
    transition: all 0.2s;
}

.software-info__heading i:hover{
    color:#2323dd;
}

.software-info__des{
    margin: 12px 0 0 0;
    border-top: solid 1px #cac0c0;
    padding: 10px 0 44px 0;
    color: #858282;
    line-height: 1.3;
    user-select: none;
}

/*  */
#news{
    position: relative;
    top: 560px;
    width: 1200px;
    margin: auto;
}

#news .title{
    width: 300px;
}

.news-list{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.news-item{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #f0e5e5;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}
.news-item:hover{
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.news-item img{
    height: 100%;
}

.news-item__info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.news-item__heading{
    font-size: 20px;
    font-weight: 550;
}

.news-item__des{
    margin-top: 18px;
    color:#585555;
    font-size: 14px;
    line-height: 1.5;
}

.news-bookmark{
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
    background-color: rgb(49, 49, 192);
    color: #fff;
    cursor: pointer;
}

.news-read{
    display: flex;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
    background-color: rgb(53, 182, 53);
    color: #fff;
    cursor: pointer;
}